body {
	background-color: light-grey;
}

/* Add a black background color to the top navigation */
.navigation {
  background-color: grey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: 0BAE72;
  color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: #4CAF50;
  color: white;
}

.profil_obere_mitte {
	margin-left: auto;
	margin-right: auto;
}

#suche {
	display:table;
    margin-right:auto;
    margin-left:auto;
    width:100%;
}
